<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="main" >
		<select id="main" parameterType="param" resultType="MainDTO">
			select * from tbl_study
		</select>
		
		<select id="selectListCnt" parameterType="param" resultType="object">
			SELECT 
				COUNT(IDX) 
			FROM 
				TBL_YS_LIST
		</select>
		
		<select id="selectList" parameterType="param" resultType="param">
			SELECT
				B.*
			FROM
				(SELECT 
					@ROWNUM:=@ROWNUM+1 AS ROWNUM
					, A.*
				FROM 
					(SELECT 
						IDX
						, TITLE
						, CONTENT
						, REGDATE
						, UPDDATE
						, ORIGIN_FILE
					FROM 
						TBL_YS_LIST
					ORDER BY IDX DESC) A, 
					(SELECT @ROWNUM:=0) R ) B
			WHERE 
				B.ROWNUM BETWEEN #{pageBegin} AND #{pageEnd}
		</select>
		
		<insert id="insertWriteProc" parameterType="param">
			INSERT INTO 
				TBL_YS_LIST (TITLE, CONTENT, REGDATE, ORIGIN_FILE, STORED_FILE, FILE_PATH) 
				VALUES (#{title}, #{content}, NOW(), #{origin_file}, #{stored_file}, #{file_path})
		</insert>
		
		<select id="selectDownload" parameterType="param" resultType="param">
			SELECT 
				ORIGIN_FILE
				, STORED_FILE
				, FILE_PATH
			FROM
				TBL_YS_LIST
			WHERE
				IDX = #{idx}
		</select>
	</mapper>